<h1>Image creation</h1>

<form action="{{ path('image_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <button type="submit">Ajouter</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('image') }}">
            Revenir
        </a>
    </li>
</ul>
