<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}{% endblock %}</title>

        <link rel="stylesheet" href="{{ asset('bundles/orchestraorchestra/css/style.css') }}" type="text/css" media="all" />
        <script type="text/javascript" type="text/javascript" src="{{ asset('bundles/orchestraorchestra/js/jquery-1.8.3.min.js') }}"></script>
        <script type="text/javascript">
        <!--

        $(document).ready(function() {

         var docHeight = $(window).height();
         var footerHeight = $('#footer').height();
         var footerTop = $('#footer').position().top + footerHeight;

         if (footerTop < docHeight) {
          $('#footer').css('margin-top', 10 + (docHeight - footerTop) + 'px');
         }
        });

        // -->
       </script>
        </head> 
        {% block stylesheets %}       
        {% endblock %}
        
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
         <header id="header">
            {% block header %}{% endblock %}
         </header>
         
         <section class="content">
             {% block contenu %}{% endblock %}
         </section>         
         
         <footer id="footer">
             <p id="copyright">Copyright 2012 - Tous droits réservés - by <a href=""><span class="orange">  O</span>rchestra</a></p>
         </footer>
         
        
    </body>
</html>