{% if tutorat_jours %}

        {% for tutorat_jour in tutorat_jours %}

            <div class="records_list">

                <div class="intitule">Intitule</div>
                <div class="picto_detail"><a href=""><img  src="{{ asset ('bundles/orchestraorchestra/img/picto_voir_profil_vide.png') }}" alt="" /></a></div>
           
            
           
                <div class="date">Date</div>
            
               <!--   <div class="picto_modif"><a href=""><img src="{{ asset ('bundles/orchestraorchestra/img/picto_modif.png') }}" alt="" /></a></div> -->
            
                <div class="ajout_par">Ajouté par <a href=""> Prénom Nom</a></div>

            </div>

        {% endfor %}

{% else %}

<p>Pas de tutorats aujourd'hui</p>

{% endif %}



