<div id="logo" >
    <div id="avatar"><img src="{{ asset ('bundles/orchestraorchestra/img/avatar_test.jpg') }}" alt="avatar" /></div>
    <p id="txt_avatar_nom">{% include "OrchestraOrchestraBundle:User:is_connected.html.twig" %} <br /> <span id="txt_avatar_classe">Etudiant Master 2 Web - ESTEI</span></p>
    
    {% include "OrchestraOrchestraBundle:Default:menu_hd.html.twig" %}

</div>