{% extends '::base.html.twig' %}

{% block title %}
Bienvenue !
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/orchestraorchestra/css/style_connexion.css') }}" type="text/css" media="all" />
{% endblock %}

{% block header %}
<div id="logo" >
    <img class="image_left" src="{{ asset ('bundles/orchestraorchestra/img/estei.png') }}" alt="" />
    <p id="txt_logo">Ecole supérieure des technologies électronique, informatique et infographie</p>
</div>
         
{% endblock %}

{% block contenu %}

<div id="contenu">

        <div>
            {% block fos_user_content %}
            {% endblock fos_user_content %}
        </div>


<a href="{{ path('signup') }}">revenir</a>

</div>

{% endblock %}
