<ul class="niveau1">
  <li class="titre_theme">
    Choisir un thème + 
    {% if menus|length != 0 %}
        <ul class="niveau2">
            {% for menu in menus %}
            <li>
                <a href="{{ path('galerie_categorie', {'id': menu.id}) }}">{{ menu.intitule }}</a>
            </li>
           {% endfor %} 
        </ul>
        {% endif %}
  </li>
</ul>