
<div id="nav_theme">web    2d    3d</div>

<div id="biblio">
    {% for entity in entities %}
        <div class="livre">
            <a href="{{ path('livre_show', { 'id': entity.id }) }}">
                <div class="img_biblio">{{ entity.illustration }}</div>
                <div class="titre_livre">{{ entity.titre  }}</div>
                <div class="dispo_livre">disponible</div>
            </a>
        </div>
    {% endfor %}
        <div class="livre">
        <div class="img_biblio"></div>
        <div class="titre_livre">test fdghdf hd[...] </div>
        <div class="dispo_livre">disponible</div>
    </div>
    
        <div class="livre">
        <div class="img_biblio"></div>
        <div class="titre_livre">test</div>
        <div class="dispo_livre">Indisponible</div>
    </div>
    
        <div class="livre">
        <div class="img_biblio"></div>
        <div class="titre_livre">test</div>
        <div class="dispo_livre">disponible</div>
    </div>
    
        <div class="livre">
        <div class="img_biblio"></div>
        <div class="titre_livre">test</div>
        <div class="dispo_livre">disponible</div>
    </div>
    
        <div class="livre">
        <div class="img_biblio"></div>
        <div class="titre_livre">test</div>
        <div class="dispo_livre">Indisponible</div>
    </div>
    
        <div class="livre">
        <div class="img_biblio"></div>
        <div class="titre_livre">test</div>
        <div class="dispo_livre">disponible</div>
    </div>
    
        <div class="livre">
        <div class="img_biblio"></div>
        <div class="titre_livre">test</div>
        <div class="dispo_livre">disponible</div>
    </div>

    <div class="navigation">
       1 2 3 {# knp_pagination_render(historiques) #}
    </div> 
    
    
 </div>