@CHARSET "UTF-8";


@font-face{
    font-family:futura;
    src:url("../fonts/futura_book.ttf");
    font-weight: 200;
}


#content_form_edit{
    float:left;
    margin-left:35px;
    margin-top:55px;
    margin-bottom:50px;
    /*background-color:lightpink;*/
}


#form_edit{
    float:left;
    width:350px;  
    /*background-color:lightblue;*/  
}

.form_row{
    float:left;
    width:350px;
    margin-top:10px;
}


h1{
    color:#2b3035;
    font-size:20px;
    font-family: "futura", Arial, sans-serif;
    margin-left:10px;
    margin-bottom:10px;
    text-transform: uppercase;
}


label{
    color:#2b3035;
    font-size:14px;
    font-family: "futura", Arial, sans-serif;
    margin-left:10px;
    margin-top:8px;
}

input{
    float:right;
    height:22px;
    width:250px;
    color:#2b3035;
    font-size:14px;
    font-family: "futura", Arial, sans-serif;
}


button{
    float:left;
    height:30px;
    margin-left:130px;
    margin-top:20px;
    background-image:url("../img/bg_btn_form.png");
    background-repeat: repeat-x;
    background-position: 0px 0px;
    border:0;
    -moz-border-radius: 10px;
    -khtml-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    padding-left:5px;
    padding-right:5px;
    color:#ffffff;
    font-size:14px;
    font-family: "futura", Arial, sans-serif;
    box-shadow: 0px;
}

button:hover{
    background-position: 0px -33px;
}


#orchestra_orchestrabundle_usertype_birthdate{
    display:inline; 
    margin-left:10px;
    margin-bottom:10px;
}


#actions_droite{
    float:left;
    height:100px;
    margin-top:40px;
    margin-left:50px;
    /*background-color:lightgreen;*/
}


.record_actions a{
    color:#2b3035;
    font-size:14px;
    font-family: "futura", Arial, sans-serif;
    text-decoration: none;
}

.record_actions a:hover{
    /*text-decoration: underline;*/
    color:#e65011;
}


