@CHARSET "UTF-8";


@font-face{
    font-family:futura;
    src:url("../fonts/futura_book.ttf");
    font-weight: 200;
}



#logo{
    float:left;
    height:68px;  
    width:1024px;
    position:relative;
    left:50%;
    margin-left: -512px;
}

#avatar img{
    float:left;
    position:relative;
    z-index:3;
    margin: 11px 6px 0 25px;
    width:78px;
    height:78px;
    border: 3px solid #ffffff;
    -moz-border-radius: 10px;
    -khtml-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}


#txt_avatar_nom{
    float:left;
    display:block;
    font-size:16px;
    font-family:Arial, sans-serif;
     margin-top:14px;
     margin-left:10px;
     color:#e65011;
}

#txt_avatar_classe{
    float:left;
    display:block;
    font-size:14px;
    font-family:Arial, sans-serif;
    margin-top:3px;
    color:#b8b9ba;
}

#picto_menu_hd_notif{
    float:left;
    background-image:url("../img/picto_notif.png");
    background-position: 0px 0px;
    background-repeat:no-repeat;
    height:36px;
    width:36px; 
    margin-top:14px;
}

#picto_menu_hd_notif:hover{
    float:left;
    background-image:url("../img/picto_notif.png");
    background-position: 0px -40px;
}

#contenu{
    /*background-color:lightpink;*/
    width:1024px;
    height:auto;
    position:relative;
    left:50%;
    margin-left: -512px;
    min-height: 100%;
}


#menu_gauche{
    position:relative;
    z-index:2;
    background-image:url("../img/fond_menu.png");
    background-repeat:repeat-y;
    width:248px;
    overflow:hidden;
}


li{
    list-style-type: none;
}

li:last-child{
    margin-bottom:70px;
}

li:first-child{
    margin-top:50px;
}

.titre_menu{
    float:left;
    background-image:url("../img/bg_titre_menu.png");
    background-position: 0px 0px;
    background-repeat:no-repeat;
    height:44px;
    width:247px; 
    margin-top:5px;
    margin-bottom: 5px;
    opacity:0.5;
}

.titre_menu:hover{
    float:left;
    background-image:url("../img/bg_titre_menu.png");
    background-position: 0px -53px;
    opacity:1;
}

.active{
    float:left;
    background-image:url("../img/bg_titre_menu.png");
    background-position: 0px -53px;
    opacity:1;
}

.picto_menu{
    float:left;
    margin: 9px 6px 0 25px;
}


.txt_picto_menu{
    float:left;
    font-size:1 em;
    font-family:futura, Arial, sans-serif;
    color:#ffffff;
    margin-top:8px;
    margin-left:20px;
}

