@CHARSET "UTF-8";

.navigation{
    float:left;
    width:96%;
    margin-top:10px;
    /*margin-bottom:20px;*/
    text-align: center;
}

.navigation a{
    color:#a8a9ab;
    text-decoration: none;
}

.navigation a:visited{
    color:#a8a9ab;
    text-decoration: none;
}

.navigation a:hover{
    color:#e65011;
    text-decoration: none;
}

.navigation a:active{
    color:#2b3035;
    text-decoration: none;
}