@CHARSET "UTF-8";

@font-face{
    font-family:futura;
    src:url("../fonts/futura_book.ttf");
    /*font-weight: 200;*/
}


#content_form_edit{
    float:left;
    width:700px;
    margin-left:35px;
    margin-top:55px;
    margin-bottom:50px;
    /*background-color:lightpink;*/
}


#form_edit{
    float:left;
    width:440px; 
    /*background-color:lightblue;*/
}


.bloc_tuto{
    float:left;
    margin-bottom:50px;
}


.titre_bloc{
    float: left;
    position:relative;
    z-index:1;
    width:100%;
    background-image:url("../img/fond_titre_bloc.jpg");
    background-repeat:repeat-x;
    height:38px;
    -moz-border-radius: 10px;
    -khtml-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

.width_tuto{
    width:440px;
}

.width_contenu_tuto{
    width:412px;
}


.picto_tutorat_titre{
    float:left;
    margin:7px 5px 0px 7px;
    width:23px;
    height:23px;  
}

.txt_titre_bloc{
    float:left;
    color:#ffffff;
    margin-left:5px;
    font-size:12px;
    font-family:"futura", Arial, sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    margin-top:13px;
}


.bloc_contenu_tuto{
    float:left;
    /*background-color:lightgrey;*/
    margin-top:-5px;
    margin-left: 3px;
    padding:10px;
    border: 1px solid #b8b9ba;
    background-color:#ffffff;
}

.bloc_contenu_tuto a{
    color:#b8b9ba;
    text-decoration: none;
}

.bloc_contenu_tuto a:hover{
    color:#2b3035;
    text-decoration: none;
}

.txt_commentaire{
    color:#b8b9ba;
    font-size: 12px;
}

.croix_supp{
    color:#e65011;
    margin-left:5px;
}

td{
    text-align: justify;
    padding-top:10px;
    color:#a8a9ab;
    font-family:Arial, sans-serif;
    font-size:14px;

}

.contenu{
    font-size:12px;
    color:#2b3035;
}

.description{
    padding-top:5px;
    font-size:14px;
    color:#2b3035;
}

.ajout_par{
   font-size:12px;
}

#actions_droite{
    float:left;
    width:250px;
    /*background-color:lightgreen;*/
}


.sinscrire{
    float:right;
    width:238px;
    margin-top:20px;
    margin-bottom: 10px;
}

.retour_tuto{
    float:right;
    width:238px;
    margin-bottom: 10px;
}

.btn_supp{
    float:left;
    color:#ffffff;
    background-color: #2b3035;
    border:1px solid #2b3035;
    margin-top:-5px;
    margin-left:-5px;
}

.btn_supp:hover{
    color:#e65011;
}

.txt_titre_bloc a{
    color:#ffffff;
    text-decoration: none;
}

.txt_titre_bloc a:hover{
    color:#e65011;
    text-decoration: none;
}

.width_participants{
    float:right;
    margin-top:20px;
    margin-bottom: 10px;
    width:238px;
}

.width_contenu_part{
    color:#a8a9ab;
    width:210px;
    font-size: 13px;
    margin-left:5px;
}

.width_contenu_part a{
    color:#2b3035;
}

.width_contenu_part a:hover{
    color:#e65011;
}


/* DIV VIDE POUR LE PROLONGEMENT DU MENU */


#vide{
    float:left;
    /*background-color:lightpink;*/
    width:700px;
    margin-left:35px;
    margin-bottom:0px;
    height:410px;
}