@CHARSET "UTF-8";

@font-face{
    font-family:futura;
    src:url("../fonts/futura_book.ttf");
    font-weight: 200;
}


.content_form_edit{
    float:left;
    width:700px;
    margin-left:33px;
    margin-top:55px;
    margin-bottom:50px;
    /*background-color:lightpink;*/
}

#actions_gauche{
    float:left;
    /*height:100px;*/
    width:450px;

    /*background-color:lightgreen;*/
}

.bloc_tuto{
    float:left;
    width:450px;
    margin-bottom:50px;
    /*background-color:lightyellow;*/
}


.titre_bloc{
    float: left;
    position:relative;
    z-index:1;
    background-image:url("../img/fond_titre_bloc.jpg");
    background-repeat:repeat-x;
    width:100%;
    height:38px;
    -moz-border-radius: 10px;
    -khtml-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

.picto_tutorat_titre{
    float:left;
    margin:10px 5px 0px 10px;
    width:23px;
    height:23px;  
}

.txt_titre_bloc{
    float:left;
    color:#ffffff;
    margin-left:5px;
    font-size:12px;
    font-family:"futura", Arial, sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    margin-top:13px;
}

.txt_titre_bloc a{
    color:#ffffff;
    text-decoration: none;
}

.txt_titre_bloc a:hover{
    color:#e65011;
    text-decoration: none;
}


.bloc_contenu_tuto{
    float:left;
    width:96%;
    /*background-color:lightgrey;*/
    margin-top:-5px;
    margin-left: 3px;
    padding:10px 0px 10px 10px;
    border: 1px solid #b8b9ba;
    background-color:#ffffff;
}


.titre_bloc_ajout{
    float: right;
    background-image:url("../img/fond_titre_bloc.jpg");
    background-repeat:repeat-x;
    width:225px;
    height:38px;
    -moz-border-radius: 10px;
    -khtml-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    margin-bottom:20px;
}




#orchestra_orchestrabundle_messagetype_titre{
   margin-left:40px;
   width:310px;
    /*margin-bottom:20px; */
}

input{
    margin-left:10px;
    margin-top:10px;
    margin-bottom:20px;
    color:#2b3035;
    font-size:14px;
    font-family: "futura", Arial, sans-serif;
}

#orchestra_orchestrabundle_messagetype_contenu{
    margin-left:20px;
    width:300px;
    height:150px;
}


#orchestra_orchestrabundle_messagetype_toPersonneId{
    margin-left:10px;
    margin-top:20px;
}


.btn_envoyer{
    float:left;
    height:30px;
    margin-left:170px;
    margin-top:20px;
    background-image:url("../img/bg_btn_form.png");
    background-repeat: repeat-x;
    background-position: 0px 0px;
    border:0;
    -moz-border-radius: 10px;
    -khtml-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    padding-left:5px;
    padding-right:5px;
    color:#ffffff;
    font-size:14px;
    font-family: "futura", Arial, sans-serif;
    box-shadow: 0px;
}

.btn_envoyer:hover{
    background-position: 0px -33px;
}


