@CHARSET "UTF-8";

@font-face{
    font-family:futura;
    src:url("../fonts/futura_book.ttf");
    font-weight: 200;
}

#bloc_avatar{
    float: left;
    width:415px;
    margin-left:280px;
    margin-top:-400px;
}

#bloc_carre_avatar{
    float: left;
    position:relative;
    z-index:1;
    width:175px;
    height:175px;
    background-image:url("../img/bg_bloc_avatar.jpg");
    background-repeat: no-repeat;
}

#bloc_carre_avatar img{
    margin:7px;
}


#txt_bloc_avatar{
    float:left;
    width:235px;
    margin-top:17px;
    margin-left:-1px;
}


#bloc_donnees_perso{
    float: left;
    width:273px;
    margin-left:750px;
    margin-top:-400px;
}

.titre_bloc{
    float: left;
    position:relative;
    z-index:1;
    background-image:url("../img/fond_titre_bloc.png");
    width:273px;
    height:38px;
}

.picto_perso{
    float:left;
    margin:10px 5px 0px 10px;
    width:20px;
    height:20px;  
}

.picto_modif{
    float:left;
    margin:10px 0px 0px 12px;   
    width:20px;
    height:20px;
}

.txt_titre_bloc{
    float:left;
    color:#ffffff;
    font-size:12px;
    font-family:"futura", Arial, sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    margin-top:13px;
}

.bloc_tab{
    float:left;
    width:265px;
    margin-top:-3px;
    margin-left:5px;
}

.bloc_li{
    float:left;
    height:27px;
    background-color: #ffffff;
    border: 1px solid #b8b9ba;
    margin-top:-1px;
    color:#2b3035;
    font-size:14px;
    font-family:"futura", Arial, sans-serif;
    padding:8px 0 0 5px;
}

.bloc_li_donnees_width{
    width:255px;
}

.bloc_li_avatar_width{
    width:230px;
}


.bloc_li span{
    color:#a8a9ab;
    font-size:14px;
    font-family:"futura", Arial, sans-serif;
    
}



