@CHARSET "UTF-8";

@font-face{
    font-family:futura;
    src:url("../fonts/futura_book.ttf");
    font-weight: 200;
}

#bloc_avatar{
    float: left;
    width:415px;
    margin-left:35px;
    margin-top:35px;
}

#bloc_carre_avatar{
    float: left;
    position:relative;
    z-index:2;
    width:175px;
    height:175px;
    background-image:url("../img/bg_bloc_avatar.jpg");
    background-repeat: no-repeat;
}

#bloc_carre_avatar img{
    margin:7px;
}

#rollover_avatar{
    float:left;
    position:relative;
    z-index:1;    
    width:161px;
    height:30px;
    background-image:url("../img/rollover_avatar.png");
    margin-top:-42px;
    margin-left:7px;
    background-position: 0px 0px;
}

#rollover_avatar:hover{
    background-position: 0px 30px;
}


#txt_bloc_avatar{
    float:left;
    width:235px;
    margin-top:17px;
    margin-left:-1px;
}


#bloc_donnees_perso{
    float: left;
    width:273px;
    margin-left:50px;
    margin-top:35px;
}

.titre_bloc{
    float: left;
    position:relative;
    z-index:1;
    background-image:url("../img/fond_titre_bloc.png");
    width:273px;
    height:38px;
}

.picto_profil{
    float:left;
    margin:8px 5px 0px 10px;
    width:20px;
    height:20px;  
}

.picto_modif{
    float:right;
    margin:10px 10px 0px 5px;   
    width:20px;
    height:20px;
    opacity: 0.5;
}

.picto_modif:hover{
    opacity:1;
}

.picto_evt, .picto_portfolio{
    float:left;
    margin:10px 10px 0px 12px;   
    width:20px;
    height:20px;
}

.txt_titre_bloc{
    float:left;
    color:#ffffff;
    font-size:12px;
    font-family:"futura", Arial, sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    margin-top:13px;
}

.bloc_tab{
    float:left;
    width:265px;
    margin-top:-3px;
    margin-left:5px;
}

.bloc_li{
    float:left;
    height:27px;
    background-color: #ffffff;
    border: 1px solid #b8b9ba;
    margin-top:-1px;
    color:#2b3035;
    font-size:14px;
    font-family:"futura", Arial, sans-serif;
    padding:8px 0 0 5px;
}

.bloc_li_donnees_width{
    width:255px;
}

.bloc_li_avatar_width{
    width:230px;
}


.bloc_li span{
    color:#a8a9ab;
    font-size:14px;
    font-family:"futura", Arial, sans-serif;
}

#bloc_notes, #bloc_absences, #bloc_evt, #bloc_portfolio{
    float: left;
    width:227px;
    margin-left:30px;
    margin-top:35px;
}

.titre_bloc_1{
    float: left;
    position:relative;
    background-image:url("../img/fond_titre_bloc.jpg");
    background-repeat:repeat-x;
    width:740px;
    height:38px;
    -moz-border-radius: 10px;
    -khtml-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    z-index:2;
}

#portfolio{
    float:left;
    position:relative;
    background-color:#ffffff;
    border: 1px solid #b8b9ba;
    width:654px;
    margin-top:-3px;
    margin-left:2px;
    padding:25px 40px;
    margin-bottom: 50px;
}

#content_portfolio img{
    float:left;
    position:relative;
    border: 3px solid #2b3035;
    height:100px;
    width:100px;
    margin: 5px 12px 15px 12px;
    opacity:0.9;
}

#content_portfolio img:hover{
    border: 3px solid #e65011;
    opacity:1;
}

.titre_bloc_3{
    float: left;
    position:relative;
    background-image:url("../img/fond_titre_bloc.jpg");
    background-repeat:repeat-x;
    width:227px;
    height:38px;
    -moz-border-radius: 10px;
    -khtml-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    z-index:2;
}

.bloc_tab_3{
    float:left;
    position:relative;
    width:216px;
    margin-top:-3px;
    margin-left:2px;
}

.bloc_li_3{
    width:216px;
}

.all{
    background-color: #a7a8aa;
    color: #ffffff;
    text-align: center;
}

.all:hover{
    background-color: #e65011;   
}

.all a{
    color: #ffffff;
    text-decoration:none;
}


.navigation{
    float:left;
    width:96%;
    margin-top:10px;
    /*margin-bottom:20px;*/
    text-align: center;
}

.navigation a{
    color:#a8a9ab;
    text-decoration: none;
}

.navigation a:visited{
    color:#a8a9ab;
    text-decoration: none;
}

.navigation a:hover{
    color:#e65011;
    text-decoration: none;
}

.navigation a:active{
    color:#2b3035;
    text-decoration: none;



