@CHARSET "UTF-8";


@font-face{
    font-family:futura;
    src:url("../fonts/futura_book.ttf");
    font-weight: 200;
}


.titre_bloc{
    float: left;
    position:relative;
    z-index:1;
    background-image:url("../img/fond_titre_bloc.jpg");
    background-repeat:repeat-x;
    width:100%;
    height:38px;
    -moz-border-radius: 10px;
    -khtml-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

.retour_bibli{
    float:left;
    width:238px;
    margin-top:55px;
    margin-left:35px;
    margin-bottom: 10px;
}

.picto_bibli_titre{
    float:left;
    margin:10px 7px 0px 10px;
    width:20px;
    height:20px;  
}


.txt_titre_bloc{
    float:left;
    color:#ffffff;
    margin-left:5px;
    font-size:12px;
    font-family:"futura", Arial, sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    margin-top:13px;
}

.txt_titre_bloc a{
    color:#ffffff;
    text-decoration: none;
}

.txt_titre_bloc a:hover{
    color:#e65011;
    text-decoration: none;
}

.lien_ajout a{
    float:right;
    font-size:12px;
    font-family:"futura", Arial, sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    margin-top:13px;
    margin-right:20px;
    color:#ffffff;
    text-decoration: none;
}

.lien_ajout a:hover{
    color:#e65011;
}


.bloc_biblio{
    float:left;
    width:745px;
    margin-top:20px;
    margin-left:35px;
    margin-bottom:50px;
    /*background-color:lightyellow;*/
}

.bloc_contenu_tuto{
    float:left;
    width:725px;
    /*background-color:lightgrey;*/
    margin-top:-5px;
    margin-left: 3px;
    padding:10px 0px 10px 10px;
    border: 1px solid #b8b9ba;
    background-color:#ffffff;
}

.derniers_livres{
    float:left;
    width:140px;
    /*background-color: lightgreen;*/
    margin-left:8px;
    margin-right:8px;
    margin-top:15px;
}

.derniers_livres a{
    text-decoration: none;
}


#biblio{
    width:630px;
    margin-left:40px;
    padding-top:10px;
    /*background-color: lightpink;*/
}

.livre{
    float:left;
    width:140px;
    /*background-color: lightgreen;*/
    margin-left:8px;
    margin-right:8px;
    margin-bottom:30px;
}

.livre a{
    text-decoration: none;
}


.img_biblio{
    float:left;
    width:100px;
    height:130px;
    background-color: #b8b9ba;
    border:3px solid #2b3035;
    margin-left:20px;
    margin-bottom:10px;
}

.img_biblio:hover{
    border:3px solid #e65011;
}

.titre_livre{
    font-size:13px;
    font-family:"futura", Arial, sans-serif;
    color:#2b3035;
    text-align:center;
    text-transform: uppercase;
}

.dispo_livre{
    font-size:14px;
    font-family:"futura", Arial, sans-serif;
    color:#a8a9ab;
    text-align:center;

}

/* MENU DEROULANT */

#div_nav_theme{
    float:right;
    width:735px;
    height:35px;
    margin-bottom:20px;
}

#nav_theme{
    float:right;
    width:200px;
    height:35px;
    margin-bottom:20px;
    /*background-color: lightgrey;*/
}

ul ul {
    display: none;
}

li:hover ul.niveau2 {
    display:block;
}

.titre_theme{
    width:200px;
    height:20px;
    font-size:12px;
    font-family:"futura", Arial, sans-serif;
    color:#b8b9ba;
    text-align:center;
   
    padding-top:10px;
    padding-bottom:5px;
}

.titre_theme:hover{
    height:35px;
    background-color: #2b3035;
}

.niveau2{
   margin-top:10px;
}

.niveau2 li{
    height:25px;
    background-color: #2b3035;
    border-top:1px dashed #a8a9ab;
    padding-top:10px;
}

.niveau2 li:hover{
    background-color: #e65011;
}

.niveau2 li a{
    font-size:12px;
    font-family:"futura", Arial, sans-serif;
    color:#b8b9ba;
    text-align:center;
    text-decoration: none;
}


/* PAGINATION */


.navigation{
    float:left;
    width:96%;
    margin-top:10px;
    /*margin-bottom:20px;*/
    text-align: center;
}

.navigation a{
    color:#a8a9ab;
    text-decoration: none;
}

.navigation a:visited{
    color:#a8a9ab;
    text-decoration: none;
}

.navigation a:hover{
    color:#e65011;
    text-decoration: none;
}

.navigation a:active{
    color:#2b3035;
    text-decoration: none;
}


/* DIV VIDE POUR LE PROLONGEMENT DU MENU */


#vide{
    float:left;
    /*background-color:lightpink;*/
    width:700px;
    margin-left:35px;
    margin-bottom:0px;
    height:380px;
}

