@CHARSET "UTF-8";

@font-face{
    font-family:futura;
    src:url("../fonts/futura_book.ttf");
    font-weight: 200;
}

.titre_bloc{
    float: left;
    position:relative;
    z-index:1;
    background-image:url("../img/fond_titre_bloc.png");
    width:273px;
    height:38px;
}

.picto_modif{
    float:right;
    margin:10px 10px 0px 5px;   
    width:20px;
    height:20px;
    opacity: 0.5;
}

.picto_modif:hover{
    opacity:1;
}

.picto_portfolio{
    float:left;
    margin:10px 10px 0px 12px;   
    width:20px;
    height:20px;
}

.txt_titre_bloc{
    float:left;
    color:#ffffff;
    font-size:12px;
    font-family:"futura", Arial, sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    margin-top:13px;
}


#bloc_portfolio{
    float: left;
    width:227px;
    margin-left:30px;
    margin-top:30px;
}

.titre_bloc_1{
    float: left;
    position:relative;
    background-image:url("../img/fond_titre_bloc.jpg");
    background-repeat:repeat-x;
    width:490px;
    height:38px;
    -moz-border-radius: 10px;
    -khtml-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    z-index:2;
}

#portfolio{
    float:left;
    position:relative;
    background-color:#ffffff;
    border: 1px solid #b8b9ba;
    width:484px;
    height: 100%;
    margin-top:-3px;
    margin-left:2px;
    padding-top:10px;
    padding-bottom:25px;
    margin-bottom: 50px;
}

#content_portfolio img{
    float:left;
    position:relative;
    border: 3px solid #2b3035;
    height:100px;
    width:100px;
    margin: 5px 12px 15px 12px;
    opacity:0.9;
}

#content_portfolio img:hover{
    border: 3px solid #e65011;
    opacity:1;
}

#nav{
    display:block;
    height:25px;
    margin-bottom: 5px;
}

#show_image{
    background-color:orange;
    display:block;
    height:10px;
    width:20px;
}


.navigation{
    float:left;
    width:96%;
    margin-top:10px;
    /*margin-bottom:20px;*/
    text-align: center;
}

.navigation a{
    color:#a8a9ab;
    text-decoration: none;
}

.navigation a:visited{
    color:#a8a9ab;
    text-decoration: none;
}

.navigation a:hover{
    color:#e65011;
    text-decoration: none;
}

.navigation a:active{
    color:#2b3035;
    text-decoration: none;
}

#bloc_ajout{
    float: right;
    width:227px;
    margin-top:30px;
    background-image:url("../img/fond_titre_bloc.jpg");
    background-repeat:repeat-x;
    height:38px;
    -moz-border-radius: 10px;
    -khtml-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    margin-bottom:20px;
}

.txt_titre_bloc{
    float:left;
    color:#ffffff;
    margin-left:5px;
    font-size:12px;
    font-family:"futura", Arial, sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    margin-top:13px;
}

.txt_titre_bloc a{
    color:#ffffff;
    text-decoration: none;
}

.txt_titre_bloc a:hover{
    color:#e65011;
    text-decoration: none;
}

#global{
    width:100%;
    height:100%;
    float:left;
    margin-top:5px;
    margin-bottom: 5px;
    border-bottom: 1px dashed #a8a9ab;
}

#image {
    float:left;
    width:80px;
    height:80px;
    margin-bottom:5px;
}

#image img{
    border: 3px solid #2b3035;
    opacity:0.9;
}

#image img:hover{
    border: 3px solid #e65011;
    opacity:1;
}

#infos{
    float:left;
    width:280px;
    height:80px;
    padding-left:10px;
}

#title{
    color:#e65011;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 10px;    
}

#auteur{
    font-size: 12px;
}

#auteur a, #auteur a:visited{
    text-decoration: none;
    color:#2B3035;    
}

#auteur a:hover{
    color:#e65011;
}

#time{
    font-size: 12px;
    color: #a8a9ab;
}

#modifs{
    float:left;
    width:25px;
    height:80px;
    text-align:center;
}

.picto_detail{
    float:right;
    width:24px;
    height:14px;
    background-image:url("../img/picto_voir_profil.png");
    margin-top:18px;
    margin-bottom: 10px;
    background-position: 0px 0px;
}

.picto_detail:hover{
    background-position: 0px 14px;
}

.picto_modif{
    float:right;
    width:20px;
    height:20px;
    margin-right:8px;
}

.picto_modif2{
    float:right;
    width:20px;
    height:20px;
    margin-right:-1px;
}

.picto_modif2 a, .picto_modif2 a:visited{
    opacity:0.6;
}

.picto_modif2 a:hover{
    opacity:1;
}

/* MENU DEROULANT */

#global_global{
    float:left;
    position:relative;
    width:404px;
    margin-left:40px;
    margin-right:40px;
}

#div_nav_theme{
    float:right;
    position:relative;
    z-index:3;
    width:404px;
    height:35px;
    margin-bottom:20px;
}

#nav_theme{
    float:right;
    width:200px;
    height:35px;
    margin-bottom:20px;
}

ul ul {
    display: none;
}

li:hover ul.niveau2 {
    display:block;
}

.titre_theme{
    width:200px;
    height:20px;
    font-size:12px;
    font-family:"futura", Arial, sans-serif;
    color:#b8b9ba;
    text-align:center;
   
    padding-top:10px;
    padding-bottom:5px;
}

.titre_theme:hover{
    height:35px;
    background-color: #2b3035;
}

.niveau2{
   margin-top:10px;
}

.niveau2 li{
    height:25px;
    background-color: #2b3035;
    border-top:1px dashed #a8a9ab;
    padding-top:10px;
}

.niveau2 li:hover{
    background-color: #e65011;
}

.niveau2 li a{
    font-size:12px;
    font-family:"futura", Arial, sans-serif;
    color:#b8b9ba;
    text-align:center;
    text-decoration: none;
}