@CHARSET "UTF-8";


@font-face{
    font-family:futura;
    src:url("../fonts/futura_book.ttf");
    font-weight: 200;
}


#content_form_edit{
    float:left;
    width:700px;
    margin-left:290px;
    margin-top:-440px;
    margin-bottom:50px;
    /*background-color:lightpink;*/
}


.titre_bloc{
    float: left;
    position:relative;
    z-index:1;
    background-image:url("../img/fond_titre_bloc.jpg");
    background-repeat:repeat-x;
    width:700px;
    height:38px;
    -moz-border-radius: 10px;
    -khtml-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

.picto_carnet_adresse{
    float:left;
    margin:8px 5px 0px 10px;
    width:23px;
    height:23px;  
}

.txt_titre_bloc{
    float:left;
    color:#ffffff;
    font-size:12px;
    font-family:"futura", Arial, sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    margin-top:13px;
}

#bloc_annuaire{
    float:left;
    width:694px;
    /*background-color:lightgrey;*/
    margin-top:-5px;
    margin-left: 2px;
    border: 1px solid #b8b9ba;
    background-color:#ffffff;
}

#resultats_recherche{
    float:left;
    /*background-color:lightyellow;*/
    width:694px;
}


h1 a{
    color:#2b3035;
    font-size:20px;
    font-family: "futura", Arial, sans-serif;
    margin-left:10px;
    margin-bottom:10px;
    text-transform: uppercase;
    text-decoration: none;
}

#form_recherche{
    float:right;
    margin-top:20px;
    margin-right:15px;
}

#nav_adresse{
    float:left;
    width:690px;
    /*margin-left:15px;*/
    margin-top:15px;
   text-align: center;
}

#nav_adresse li{
    display: inline;
    margin-left:6px;
    margin-right:6px;
}

#nav_adresse li a{
    color:#a8a9ab;
    text-decoration: none;
}

#nav_adresse li a:visited{
    color:#a8a9ab;
    text-decoration: none;
}

#nav_adresse li a:hover{
    color:#e65011;
    text-decoration: none;
}

#nav_adresse li a:active{
    color:#2b3035;
    text-decoration: none;
}


.records_list{
    float:left;  
    width:670px;  
    margin-top:30px;
    margin-left:10px;
    /*background-color:lightpink;*/
}


.fond_contact{
    float:left;
    width:325px;
    height:100px;
    margin-bottom:10px;
    margin-left:5px;
    margin-right:3px;
    /*background-color: lightgreen;*/
    border:1px dashed #b8b9ba;
}

.bloc_carre_avatar{
    float: left;
    width:70px;
    height:70px;
    border:3px solid #2b3035;
    margin-left:10px;
    margin-top:10px;
}

.prenom_nom{
    float:left;
    color:#e65011;
    width:220px;
    height:20px;
    margin-left:10px;
    margin-top:17px;
    font-family:Arial, sans-serif;
    font-size:14px;
    /*background-color: lightblue;*/
}

.prenom_nom span{
    color:#b8b9ba;
    font-family:Arial, sans-serif;
    font-size: 12px;
}

.email{
    float:left;
    color:#2b3035;
    width:220px;
    height:20px;
    margin-left:10px;
    margin-top:5px;
    font-family:Arial, sans-serif;
    font-size:12px;
}

.picto_envoi_mail{
    float:left;
    width:20px;
    height:14px;
    margin-left:10px;
    margin-top:8px;
    background-image:url("../img/picto_mail_adresse.png");
    background-position: 0px 0px;
}

.picto_envoi_mail:hover{
    background-position: 0px 14px;
}

.picto_voir_profil{
    float:left;
    width:24px;
    height:14px;
    margin-left:10px;
    margin-top:8px;
    background-image:url("../img/picto_voir_profil.png");
    background-position: 0px 0px;
}

.picto_voir_profil:hover{
    background-position: 0px 14px;
}

.navigation{
    float:left;
    width:700px;
    margin-top:20px;
    margin-bottom:20px;
    text-align: center;
}

.navigation a{
    color:#a8a9ab;
    text-decoration: none;
}

.navigation a:visited{
    color:#a8a9ab;
    text-decoration: none;
}

.navigation a:hover{
    color:#e65011;
    text-decoration: none;
}

.navigation a:active{
    color:#2b3035;
    text-decoration: none;
}

