{% include "OrchestraOrchestraBundle:User:is_connected.html.twig" %}

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js" type="text/javascript"></script>
<br />
<form id="form_recherche" action="{{ path('user_search') }}" method="post">
        {{ form_widget(form.motcle) }}
        {{ form_errors(form.motcle) }} 
	<input type="submit" value="Rechercher" />
</form>

<div id="resultats_recherche"> 
    {% include 'OrchestraOrchestraBundle:User:liste.html.twig' with {'entities' : entities}  %}
</div>

<script>
$("#form_recherche").submit(function(){ 
    
    var motcle = $("#usersearch_motcle").val();
    var DATA = 'motcle=' + motcle;
    $.ajax({
        type: "POST",
        url: "{{ path('user_search')}}",
        data: DATA,
        cache: false,
        success: function(data){
           $('#resultats_recherche').html(data);
        }
    });    
    return false;
});
</script>

