{# src/Orchestra/OrchestraBundle/Resources/views/User/ldap.html.twig #}

<h3>Valider votre compte intranet avec vos Login ESTEI </h3>

<div>
    <form method="post" {{ form_enctype(form) }}>
    	{{ form_widget(form) }}
    	<input type="submit" />
    </form>
</div>