{% include "OrchestraOrchestraBundle:User:is_connected.html.twig" %}

<h1>Ajout d'un Utilisateur</h1>

<form action="{{ path('user_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <button type="submit">Ajouter</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('user') }}">
            Revenir à la liste des utilisateurs
        </a>
    </li>
</ul>
